$spacingUtilities: (
	// Margin
	"margin": (responsive: true,
		property: margin,
		class: m,
		values: $spacerSizes ),
	"margin-x": (responsive: true,
		property: margin-inline,
		class: mx,
		values: $spacerSizes ),
	"margin-y": (responsive: true,
		property: margin-block,
		class: my,
		values: $spacerSizes ),
	"margin-top": (responsive: true,
		property: margin-block-start,
		class: mt,
		values: $spacerSizes ),
	"margin-end": (responsive: true,
		property: margin-inline-end,
		class: me,
		values: $spacerSizes ),
	"margin-bottom": (responsive: true,
		property: margin-block-end,
		class: mb,
		values: $spacerSizes ),
	"margin-start": (responsive: true,
		property: margin-inline-start,
		class: ms,
		values: $spacerSizes ),

	// Padding
	"padding": (responsive: true,
		property: padding,
		class: p,
		values: $spacerSizes ),
	"padding-x": (responsive: true,
		property: padding-inline,
		class: px,
		values: $spacerSizes ),
	"padding-y": (responsive: true,
		property: padding-block,
		class: py,
		values: $spacerSizes ),
	"padding-top": (responsive: true,
		property: padding-block-start,
		class: pt,
		values: $spacerSizes ),
	"padding-end": (responsive: true,
		property: padding-inline-end,
		class: pe,
		values: $spacerSizes ),
	"padding-bottom": (responsive: true,
		property: padding-block-end,
		class: pb,
		values: $spacerSizes ),
	"padding-start": (responsive: true,
		property: padding-inline-start,
		class: ps,
		values: $spacerSizes ),
	// Gap
	"gap": (responsive: true,
		property: gap,
		class: gap,
		values: $spacerSizes ),
	"row-gap": (responsive: true,
		property: row-gap,
		class: row-gap,
		values: $spacerSizes ),
	"column-gap": (responsive: true,
		property: column-gap,
		class: col-gap,
		values: $spacerSizes ),
);
@include generate-utility($spacingUtilities);

.mx-auto {
	margin-left: auto !important;
	margin-right: auto !important;
}

.mt-0 {
	margin-top: 0 !important;
}

.mb-0 {
	margin-bottom: 0 !important;
}

.mb-0 {
	>:last-child {
		margin-bottom: 0 !important;
	}
}