footer#site-footer {

  #footer-primary {
    background-color: var(--footer-bkg);
    color: var(--footer-meta-color);

    .wrapper-header {
      @media screen and (min-width: 1024px) {
        align-items: flex-start;
      }

      @include media-breakpoint-up(xl) {
        align-items: center;
      }
    }

    .footer-menu-title {
      color: var(--footer-menu-title);
      font-size: var(--fs-sm);

      @include media-breakpoint-up(xl) {
        font-size: calc(var(--fs-sm) * 1.05);
      }
    }

    a {
      color: var(--footer-meta-link);

      &:hover,
      &:active,
      &:focus,
      &:focus-visible {
        text-decoration: none;
        color: var(--footer-meta-link);
      }
    }

    ul {

      li {
        margin-bottom: 0;
        text-wrap: balance;


        a {
          text-decoration: none;
          font-family: var(--ff-base);
          padding-left: 0;
          color: var(--footer-menu-link);
          font-size: inherit;

          &:visited,
          &:hover,
          &:active,
          &:focus,
          &:focus-visible {
            color: var(--footer-menu-link);
            text-decoration: underline;
          }
        }
      }
    }

    .footer-logo {
      a {
        min-width: rem(200);
        max-width: rem(200);

        @include media-breakpoint-up(lg) {
          max-width: rem(200);
        }

        @include media-breakpoint-up(xl) {
          max-width: rem(250);
        }
      }

      img {
        height: auto;
        width: 100%;
      }
    }

    #footer-logo-widget-wrap {
      display: flex;
      flex-direction: column;
      row-gap: var(--mc-spacer-sm);
      padding-top: 1.5rem;
      border-top: 1px solid var(--footer-bkg-mobile-line);
      width: 100%;

      p {
        margin: 0;
      }

      @include media-breakpoint-up(md) {
        flex-direction: row;
        align-items: flex-end;

        .mc-widget-footer {
          &:first-of-type {
            flex: 0 1 31ch;
          }
        }
      }

      @include media-breakpoint-up(lg) {
        padding-top: 0;
        border: 0;
        flex-direction: column;
        align-items: flex-start;
        max-width: 22ch;

        .mc-widget-footer {
          &:first-of-type {
            flex: 0 0 auto;
          }
        }
      }

      @include media-breakpoint-up(xxl) {
        max-width: 26ch;
      }
    }
  }

  #footer-nav-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 2em clamp(32px, 10%, 120px);

    @include media-breakpoint-up(sm) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    .footer-menu-wrap {
      flex: 0 1 max-content;

      ul {

        @include media-breakpoint-up(sm) {
          max-width: 17ch;
        }

        li.menu-item,
        li.menu-item a {
          font-size: rem(13.75);
          line-height: 1.55;

          @include media-breakpoint-up(md) {
            font-size: rem(15);
            line-height: 1.575;
          }
        }
      }
    }

    &.three-column,
    &.two-column,
    &.one-column {

      .footer-menu-wrap {

        ul {
          @include media-breakpoint-up(sm) {
            max-width: 19ch;
          }

          li.menu-item,
          li.menu-item a {
            font-size: rem(14);
            line-height: 1.55;

            @include media-breakpoint-up(xxl) {
              font-size: rem(16);
              line-height: 1.6;
            }
          }
        }
      }
    }


    ul {
      li {
        margin-bottom: .75rem;
        text-align: start;
      }

      li.menu-item a {
        text-decoration: none;
        display: inline !important;

        &:hover,
        &:active,
        &:focus,
        &:focus-visible {
          text-decoration: underline;
        }
      }


      .link-external a {
        display: inline-block;

        &:not(:has(img))::after {
          mask-size: 1.5ex 1.5ex;
          height: 1.5ex;
          width: 1.5ex;
          margin-left: 0.35ch;
          padding-left: 1.5ex;
        }

        &::before {
          position: absolute;
          left: -999em;
          right: auto;
          content: "External.";
        }

        &::after {
          background: 0 0;
          background-color: currentColor;
          mask-image: var(--icon-external),
            linear-gradient(transparent, transparent);
          mask-position: center center;
          mask-repeat: no-repeat;
          mask-size: 1.25ex 1.25ex;
          height: 1.25ex;
          width: 1.25ex;
          content: "";
          display: inline;
          margin-top: 0;
          margin-left: 0.1ch;
          padding-left: 1.25ex;
        }
      }
    }
  }

  #footer-newsletter-signup {
    color: var(--footer-newsletter-copy);
    background-color: var(--footer-newsletter-bkg);

    form {
      accent-color: var(--footer-newsletter-heading);
    }

    .newsletter-title {

      @include media-breakpoint-up(lg) {
        flex: 0 0 clamp(31ch, 24vw, 35%);
      }
    }

    h2 {
      color: var(--footer-newsletter-heading);
      line-height: 1.5;
      margin-bottom: .85em;
      text-wrap: balance;

      @include media-breakpoint-up(lg) {
        margin-bottom: 0;
      }

    }

    p {
      font-weight: 600;
    }

    label:has(input, select, textarea) {
      row-gap: .5rem;
      column-gap: .5rem;
    }

    input[type=email],
    input[type=text] {
      padding: 0.75em;
      font-size: rem(14);
      background-color: var(--footer-newsletter-input-bkg) !important;
    }

    .mc-button {
      padding: 0.75em 1.5em !important;
      font-size: rem(14) !important;
      color: var(--footer-newsletter-btn-color) !important;
      background-color: var(--footer-newsletter-btn-bkg) !important;
      border-color: var(--footer-newsletter-btn-border) !important;

      &:hover,
      &:active,
      &:focus,
      &:focus-visible {
        color: var(--black) !important;
        background-color: var(--footer-newsletter-btn-border) !important;
        border-color: var(--footer-newsletter-btn-border) !important;
      }
    }

    input[type=radio],
    input[type=checkbox] {
      width: 0.9em;
      height: 0.9em;
      transform: translateY(0);
    }

    .wpcf7-list-item {
      margin-left: 0;
    }

    .wpcf7-acceptance {
      span {
        font-size: rem(11) !important;
        text-wrap: balance;
      }

      label a {
        color: var(--footer-newsletter-accept-link);

        &:hover,
        &:active,
        &:focus,
        &:focus-visible {
          text-decoration: none;
          color: var(--footer-newsletter-accept-link);
        }
      }
    }

    .wpcf7-spinner {
      display: none !important;
      visibility: hidden !important;
    }
  }

  #footer-secondary {
    color: var(--footer-secondary-menu-link);
    background-color: var(--footer-secondary-bkg);


    p {
      color: var(--footer-secondary-copy);
      -webkit-font-smoothing: auto;
    }

    a {
      text-decoration: none;
      color: var(--footer-secondary-menu-link);

      &:visited,
      &:hover,
      &:active,
      &:focus,
      &:focus-visible {
        color: var(--footer-secondary-menu-link);
        text-decoration: underline;
      }
    }

    a.social-icon {
      color: var(--footer-secondary-socials);
      margin-bottom: .25em;

      &:hover,
      &:active,
      &:focus,
      &:focus-visible {
        color: var(--footer-secondary-socials-hover);
      }
    }
  }
}

// Variants - on CIP & CDC
footer#site-footer[mc-variant=expanded] {
  #footer-logo-widget-wrap {

    .mc-widget-footer {
      max-width: 33ch !important;
    }

    @include media-breakpoint-up(lg) {
      max-width: 36ch !important;
    }
  }

  #footer-secondary {
    a.social-icon {

      &:hover,
      &:active,
      &:focus,
      &:focus-visible {
        opacity: 1;
      }

      svg {
        transform: scale(.9);
      }
    }
  }
}