footer#site-footer {

  #footer-primary {
    background-color: var(--footer-bkg);
    color: var(--footer-meta-color);
    align-items: center;

    a {
      color: var(--footer-meta-link);

      &:hover,
      &:active,
      &:focus,
      &:focus-visible {
        text-decoration: none;
        color: var(--footer-meta-link);
      }
    }
  }
}