// Global styling for all headers
header#site-header {
  position: relative;
  z-index: 1000;

  // Reset and baseline lists
  ul {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    justify-content: center;
    flex-direction: row;
    gap: 3.15vw;

    // Top-level
    >li {
      line-height: 1;
      margin-block: 0.65rem;
      list-style: none;

      >a {
        display: inline-block;
        text-decoration: none;
        font-size: rem(16);
        margin: 0;
        color: var(--gray-300);
        font-weight: 440;
        font-family: var(--ff-sans);

        @include media-breakpoint-up(lg) {
          font-size: rem(18);
        }


        &:hover,
        &:active,
        &:focus,
        &:focus-visible {
          color: var(--navy);
          text-decoration: none;
        }

        &[aria-current=page] {
          font-weight: 640;
          color: var(--gray-500);
        }
      }
    }
  }
}

#site-header #site-masthead {
  --padding-inline: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;

  @include media-breakpoint-up(xxl) {
    padding-top: calc(16px * 1.409);
  }

  #branding {
    display: inline-flex;
    align-items: center;
    flex: 0 1 auto;

    a {
      transition: all .2s ease;
    }

    img {
      vertical-align: middle;
      width: 90%;
      height: auto;
      transition: all 0.2s ease;
      user-select: none;
      margin: 0 auto;
      margin-bottom: rem(-15);
      position: relative;
      z-index: 1;

    }
  }

  #navigation {
    position: relative;
    z-index: 0;
    border-top: 1px solid var(--gray-200);
    border-bottom: 1px solid var(--gray-200);
    padding-block: rem(10);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}