body {
	background-color: #FBF7F6;
}

#site-wrapper {
	max-width: 70ch;
	margin: 10vw 5vw 0 5vw;
	border-radius: rem(3);
	background-position: bottom center;
	background-repeat: no-repeat;
	transition: all .2s ease;
	padding-bottom: rem(175);

	@include media-breakpoint-up(md) {
		margin: 5vw auto;
	}
}