body {
	background-color: #FBF7F6;
}

#site-wrapper {
	max-width: 76ch;
	margin: 0 auto 2vw auto;
	border-radius: rem(3);
	background-position: bottom center;
	background-repeat: no-repeat;
	transition: all .2s ease;
	padding-bottom: rem(175);

	@include media-breakpoint-up(md) {
		margin: 3vw auto 2vw auto;
	}
}