@use "sass:color";

%btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	padding: .85em 1.85em !important;
	border-width: rem(2);
	border-style: solid;
	border-radius: 9999px;
	border-color: transparent;
	outline: none;
	transition: all .2s ease;
	text-transform: inherit;
	font-size: var(--fs-sm);
	font-weight: 600;
	line-height: 1;
	text-decoration: none;
	cursor: pointer;
	@include font-smoothing();
}

input.wpcf7-submit {
	font-size: var(--fs-sm);
	font-weight: 600;
	line-height: 1;
}

button[type=submit]:not([value="Submit search"]),
.mc-button,
div.wp-block-button .wp-element-button {
	@extend %btn;

	// Text size & padding updates
	// Allowed sizes only in block editor: xs, sm (default), page, md
	.has-xs-font-size &,
	&.has-xs-font-size {
		// padding: .65em 1.65em !important;
	}

	.has-sm-font-size &,
	&.has-sm-font-size {
		padding: .75em 1.75em !important;
	}

	.has-md-font-size &,
	&.has-md-font-size {
		padding: 1em 2em !important;
	}

	&[disabled],
	&.primaryAction[disabled=disabled] {
		background-color: var(--gray-200) !important;
		border-color: var(--gray-200) !important;
		pointer-events: none;
	}

	// Button colors
	color: var(--primary-brand-btn-text);
	background-color: var(--primary-brand-btn-bkg);
	border-color: var(--primary-brand-btn-bkg);

	&:hover,
	&:active,
	&:focus,
	&:focus-visible {
		text-decoration: none;
		color: var(--primary-brand-btn-hover-text);
		background-color: var(--primary-brand-btn-hover-bkg);
		border-color: var(--primary-brand-btn-hover-bkg);
	}

	&.has-orange-background-color {
		color: var(--white) !important;
		border-color: var(--orange) !important;

		&:hover,
		&:active,
		&:focus,
		&:focus-visible {
			color: var(--white) !important;
			background-color: color.adjust($orange, $lightness: 10%) !important;
			border-color: color.adjust($orange, $lightness: 10%) !important;
		}
	}

	&.has-navy-background-color {
		color: var(--white) !important;
		border-color: var(--navy) !important;

		&:hover,
		&:active,
		&:focus,
		&:focus-visible {
			color: var(--white) !important;
			background-color: color.adjust($navy, $lightness: 10%) !important;
			border-color: color.adjust($navy, $lightness: 10%) !important;
		}
	}

	&.has-green-background-color {
		color: var(--white) !important;
		border-color: var(--green) !important;

		&:hover,
		&:active,
		&:focus,
		&:focus-visible {
			color: var(--white) !important;
			background-color: color.adjust($green, $lightness: -20%) !important;
			border-color: color.adjust($green, $lightness: -20%) !important;
		}
	}
}


/* Styles*/
.wp-block-button.is-style-text-only .wp-element-button,
.mc-button.is-style-text-only,
.wp-block-button.is-style-arrow-before-text .wp-element-button,
.mc-button.is-style-arrow-before-text {
	padding: 0 !important;
	background-color: transparent;
	border: none;
	transform: none;
	color: var(--link-color);
	justify-content: flex-start;

	&:hover,
	&:active,
	&:focus,
	&:focus-visible {
		color: var(--link-hover-color);
		background-color: transparent !important;
		border: none !important;
		text-decoration: underline;
		text-underline-position: normal;
		text-underline-offset: rem(4);

	}
}

[class*="is-style-arrow-before-"] .wp-element-button,
[class*="mc-button is-style-arrow-before-"] {
	line-height: var(--lh-sm);

	&:before {
		content: "";
		mask: var(--icon-arrow-right);
		mask-size: auto;
		mask-repeat: no-repeat;
		background: currentColor;
		opacity: 1;
		display: inline-block;
		position: relative;
		height: rem(20);
		width: rem(20);
		margin-right: .75ch;
		flex-shrink: 0;
	}

}

.is-style-arrow-before-text .wp-element-button,
.mc-button.is-style-arrow-before-text {
	&:before {
		top: rem(-3)
	}

}

.is-style-arrow-after .wp-element-button,
.mc-button.is-style-arrow-after {
	display: inline-flex;
	align-items: center;

	&:not(.is-style-text-only) {
		min-height: rem(52);
	}

	&:after {
		content: "";
		mask-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.7072 8.35355L11.3536 5L10.6465 5.70711L12.7929 7.85355L1.00005 7.85355V8.85355L12.7929 8.85355L10.6465 11L11.3536 11.7071L14.7072 8.35355Z' fill='%23222222'/%3E%3C/svg%3E%0A");
		mask-size: 1.5em auto;
		mask-repeat: no-repeat;
		-webkit-mask-position-x: center;
		-webkit-mask-position-y: center;
		background: currentColor;
		opacity: 1;
		display: inline-flex;
		align-items: center;
		position: relative;
		margin-left: .45ch;
		width: 1.5em;
		height: 1em;
		transition: transform .3s ease;
	}

	&:hover,
	&:active,
	&:focus,
	&:focus-visible {
		transform: translateX(.2ch);

		&.is-style-text-only {
			transform: none;
		}

		&:after {
			transform: translateX(.4ch);
		}
	}
}

.wp-block-button.has-box-shadow {
	box-shadow: none !important;

	>a.wp-element-button {
		box-shadow: var(--box-shadow)
	}
}

@each $size in ('sm', 'md', 'lg', 'xl') {
	.wp-block-button.has-box-shadow-#{$size} {
		box-shadow: none !important;

		>a.wp-element-button {
			box-shadow: var(--box-shadow-#{$size})
		}
	}
}