/* ----------------
BASE
------------------------------*/
html,
:root {
	scroll-behavior: smooth;
}

body {
	@include font-smoothing();

	// Delightful!
	::-moz-selection {
		background-color: $mc-100;
		color: initial;
		cursor: text;
	}

	::selection {
		background-color: $mc-100;
		color: initial;
		cursor: text;
	}
}


:root,
html,
body {
	font-size: 16px;
	font-family: var(--ff-base);
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	color: var(--gray-400);
}

a:not(.wp-element-button, .mc-button) {
	text-decoration: underline;
	color: var(--link-color);
	cursor: pointer;

	&:hover,
	&:active,
	&:focus,
	&:focus-visible {
		color: var(--link-hover-color);
	}

	&:focus-visible {
		outline: rem(2) solid var(--mc-blue);
	}
}

/* ----------------
HEADINGS & PARAGRAPHS
+ Adjust spacing
------------------------------*/
@for $i from 1 through 6 {

	h#{$i} {
		line-height: var(--h#{$i}-lh);
		font-size: var(--h#{$i});
		text-wrap: pretty;
		margin-block-end: 0;
		scroll-margin-top: 1em;

		@include media-breakpoint-up(lg) {
			scroll-margin-top: 1.25em;
		}

		b,
		strong {
			font-weight: 800;
		}

		a {
			text-decoration: none !important;
		}

		+p {
			margin-block-start: .75em;
		}
	}
}

h1 {
	margin-block-start: 0;
}

h2 {
	margin-block-start: 1.5em;
}

h3 {
	margin-block-start: 1.44em;
}

h4 {
	margin-block-start: 1.33em;
}

h4+p {
	margin-block-start: .25rem;
}

h5,
h6 {
	margin-block-start: .75em;
}

h2+h3,
h3+h4,
h4+h5,
h5+h6 {
	margin-block-start: .75em;
}

ul+h2,
ul+h3,
ul+h4,
ul+h4,
ul+h6 {
	margin-block-start: 2em !important;
}

p {
	font-size: var(--fs-page);
	line-height: var(--lh-page);
	text-wrap: pretty;
	margin-block-start: 1em;
	margin-block-end: 0;

	// Remove any max-widths on paragraphs so we can go full-width
	@include media-breakpoint-down(md) {
		max-width: unset !important;
	}
}

section,
header,
footer,
aside {
	:is(h1, h2, h3, h4, h5, h6, p, ul):first-child {
		margin-top: 0 !important;
	}
}


/* ----------------
OTHER
------------------------------*/
// Lists
:where(dl, ol, ul):not(.wp-block-post-template, .acf-bl, .columns) {
	font-size: var(--fs-page);
	line-height: var(--lh-page);
	margin-block-start: 1em;
	margin-block-end: 0;

	li {
		margin-bottom: .75em;
		color: inherit;
		font-size: inherit;
		line-height: inherit;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	:is(dl, ol, ul) {
		margin-block-start: .65em;
	}


	li ul:not(.dropdown-menu) {
		padding-bottom: 0;
		font-size: inherit;
		line-height: inherit;

		li {
			list-style-type: square;
		}
	}
}

// Misc
mark {
	padding: 0;
}