// Wrappers
@each $name, $value in $maxWidths {

	// align between all eventually
	.wrapper-#{$name} {
		--content-max-width: #{$value};
		width: min(var(--content-max-width), 100% - var(--padding-inline));
		margin-inline: auto;
	}

	.mw-#{$name} {
		width: 100%;
		max-width: #{$value};
		margin-inline: auto;
	}
}
