// Wrappers
@each $name, $value in $maxWidths {

	// align between all eventually
	.wrapper-#{$name} {
		--content-max-width: #{$value};
		width: min(var(--content-max-width), 100% - var(--padding-inline));
		margin-inline: auto;
	}

	.mw-#{$name} {
		width: 100%;
		max-width: #{$value};
		margin-inline: auto;
	}
}

.wrapper {
	@extend .wrapper-xl;
}

.wrapper-narrow {
	--content-max-width: 900px;
	max-width: var(--content-max-width);
	margin-inline: auto;
	padding-inline: calc(var(--padding-inline) * 0.5);
}

.mw-narrow {
	width: 100%;
	max-width: 900px;
	margin-inline: auto;
}