/* ----------------
LAYOUT & BREAKPOINTS
------------------------------*/
// Breakpoints
// 782 is Wordpress
$breakpoints: (
	"xxs": 0,
	"xs": 360px,
	"sm": 576px,
	"md": 782px,
	"lg": 992px,
	"xl": 1200px,
	"xxl": 1400px
);

$maxWidths: (
	"sm": 576px,
	"md": 782px,
	"lg": 1140px,
	"xl": 1260px,
	"xxl": 1320px,
	"extended": 1445px,
	"header": 1500px
);

/* ----------------
TYPE
@link https://clamp.font-size.app/?config=eyJyb290IjoiMTYiLCJtaW5XaWR0aCI6IjQyNXB4IiwibWF4V2lkdGgiOiI3ODJweCIsIm1pbkZvbnRTaXplIjoiMTYuNXB4IiwibWF4Rm9udFNpemUiOiIxOC41cHgifQ%3D%3D
------------------------------*/
$fontSizes: (
	"page": clamp(0.8rem, 0.06vi + 0.79rem, 0.84rem),
	"md": clamp(1rem, 0.17vi + 0.96rem, 1.13rem),
	"lg": clamp(1.25rem, 0.33vi + 1.18rem, 1.5rem),
	"xl": clamp(1.56rem, 0.58vi + 1.43rem, 2rem),
	"xxl": clamp(1.95rem, 0.95vi + 1.74rem, 2.66rem),
);


$lineHeights: (
	"page": 1.785,
	"md": 1.65,
	"lg": 1.5,
	"xl": 1.45,
	"xxl": 1.45,
	"giant": 1.375,
	"jumbo": 1.25,
);

/* ----------------
COLORS
// ------------------------------*/
$orange: #AD5838;
$orange-dark: #AD5838;
$navy: #162B5E;
$navy-dark: #00041D;
$green: #55694E;
$green-dark: #63735C;
$green-light: #b9cfb1;

$gray-000: #f8f9fa;
$gray-100: #f2f2f2;
$gray-200: #d0d0d0;
$gray-300: #6D6E71;
$gray-400: #464646;
$gray-500: #212529;

$white: #FFFFFF;
$black: #000000;

$theme-colors: (
	"orange": $orange,
	"navy": $navy,
	"green": $green,

	"gray-000": $gray-000,
	"gray-100": $gray-100,
	"gray-200": $gray-200,
	"gray-300": $gray-300,
	"gray-400": $gray-400,
	"gray-500": $gray-500,
	"white": $white,
	"black": $black,
);

/* ----------------
SPACING
@link https://utopia.fyi/space/calculator?c=320,16,1.2,1440,18,1.25,7,2,&s=0.5|0.25,1.5|2|2.5|3.5|4|6|8|10,s-l&g=s,l,xl,12
------------------------------*/
$spacerSizes: (
	"0": 0,
	/* Space xs: 8px → 9px */
	"xs": clamp(0.5rem, 0.4821rem + 0.0893vi, 0.5625rem),
	/* Space s: 16px → 18px */
	"sm": clamp(1rem, 0.9643rem + 0.1786vi, 1.125rem),
	// 16.5 → 18.5 (Body, H5, H6)
	"page": clamp(1.03125rem, 0.8824rem + 0.5602vw, 1.15625rem),
	/* Space m: 24px → 27px */
	"md": clamp(1.5rem, 1.4464rem + 0.2679vi, 1.6875rem),
	/* Space l: 32px → 36px */
	"lg": clamp(2rem, 1.9286rem + 0.3571vi, 2.25rem),
	/* Space xl: 40px → 45px */
	"xl": clamp(2.5rem, 2.4107rem + 0.4464vi, 2.8125rem),
	/* Space 2xl: 56px → 63px */
	"xxl": clamp(3.5rem, 3.375rem + 0.625vi, 3.9375rem),
	/* Space 3xl: 64px → 72px */
	"giant": clamp(4rem, 3.8571rem + 0.7143vi, 4.5rem),
	/* Space 4xl: 96px → 108px */
	"jumbo": clamp(6rem, 5.7857rem + 1.0714vi, 6.75rem),
	/* Space 5xl: 128px → 144px */
	"super": clamp(8rem, 7.7143rem + 1.4286vi, 9rem)
);